RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) $1.php [L]

<Files header.html>
    Deny from all
</Files>

<Files footer.html>
    Deny from all
</Files>
