---
---
{% include header.html %}
             <div class="row col-lg-9">
                <div class="pageTop">
                    <a href="one-page.pdf">One-page PDF</a> - <a href="complete.pdf">Complete</a> 
                </div>
            </div>
             <div class="row col-lg-6 col-lg-offset-3">
                <div class="pageTop">
                     <ul>
                         <li><b>Email</b>: <a href="mailto:{{ site.cv.email}}">{{ site.cv.email }}</a></li>
                         <li><b>Gender</b>: {{ site.cv.gender }} </li>
                         <li><b>Citizenship</b>: {{ site.cv.citizenship }}</li>
                         <li><b>Languages spoken</b>: {% for lang in site.cv.languages %}{% unless forloop.first%}, {% endunless %}{{lang.name}}{% if lang.level %} ({{lang.level}}){% endif %}{% endfor %}</li>
                         <li><b>GitHub</b>: <a href="{{site.cv.github}}">{{site.cv.github}}</a></li>
                         <li><b>ORCID</b>: <a href="https://orcid.org/{{orcid}}">{{site.cv.orcid}}</a></li>
                    </ul>

                    <h2>Education</h2>
                    <ul>
                        {% for edu in site.cv.education %}
                        <li>
                            <b>{{edu.date}}</b>: <a href="{{edu.url}}" property="foaf:schoolHomepage">{{edu.institute}}</a> {{edu.degree}}{% if edu.title %} (&ldquo;{{edu.title}}&rdquo; - Supervisor: {{edu.supervisor}}){% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <h2>Employment</h2>
                    <ul>
                        {% for emp in site.cv.employment %}<li>
                            <b>{{emp.date}}</b>: <a href="{{emp.url}}">{{emp.institute}}</a> {{emp.jobtitle}}
                        </li>{% endfor %}
                    </ul>
                </div> 
            </div> 
{% include footer.html %}
